<script lang="ts">
  export let sections = ["Weapons", "Equipment"];
</script>

<style>
  .inventory {
    grid-column: span 7;
    grid-row: 3 / span 5;
    border: 2px solid #333;
    border-radius: 3px;
    overflow-y: auto;
  }
</style>

<div class="inventory">
  <ul>
    {#each sections as section}
      <li class="section">
        {section}
        <ul class="item-list">
          <li>item 1</li>
        </ul>
      </li>
    {/each}
  </ul>
</div>
<div class="currency">goly platy ayy</div>
<div class="encumbrance">100/100</div>
