<!-- App.svelte -->
<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import Inventory from "./Inventory.svelte";
  import Traits from "./Traits.svelte";

  const dispatch = createEventDispatcher();
  export let senses: any;
  export let actor: ObjectData = {
    name: "no name",
    img: "",
  };
  let width: number;
  let height: number;

  enum View {
    Attributes,
    Inventory,
    Features,
    Spellbook,
    Effects,
    Biography,
    Journal,
  }

  let view = View.Attributes;

  const modif = (n) => (n < 0 ? "" : "+") + n;

  function inputChange(evt) {
    console.log("chag", evt);
    dispatch("updated", {
      name: evt.target.name,
      value: evt.target.value,
      originalEvent: evt,
    });
  }

  $: mode = width < 500 ? "tiny" : "normal";
</script>

<style>
  .sheet {
    height: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 1.5fr repeat(4, 1fr);
    grid-template-rows: 1fr 1fr repeat(6, 1fr) 30px;

    grid-template-areas:
      "img img hed hed hed hed hed"
      "img img sub sub sub sub sub"
      "abi ski ski res res res res"
      "abi ski ski tra tra tra tra"
      "abi ski ski tra tra tra tra"
      "abi ski ski tra tra tra tra"
      "abi ski ski tra tra tra tra"
      "abi ski ski tra tra tra tra"
      "nav nav nav nav nav nav nav";

    column-gap: 0.2em;
    row-gap: 0.2em;
  }

  .sheet * {
    scrollbar-width: thin;
  }

  .sheet input {
    border-radius: 0;
  }

  .sheet input:focus {
    box-shadow: 0 0 4px #bc8eff;
  }

  .sheet header {
    grid-area: hed;
    max-height: 60px;
  }

  header .name {
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: 700;
    font-size: 1.6em;
    background: none;
    border: none;
    height: auto;
    font-variant: small-caps;
  }
  .sheet .profile-image {
    grid-area: img;
    justify-self: center;
    border: none;
    /* border: 2px solid #333; */
    border-radius: 3px;
    max-height: 100%;
  }

  .abilities {
    display: flex;
    flex-direction: column;
    grid-area: abi;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .ability {
    border: 2px solid #333;
    border-bottom-width: 10px;
    border-radius: 3px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2em;
    position: relative;
    font-variant: small-caps;
    min-height: 60px;
  }

  .ability:last-child {
    margin-bottom: 0;
  }

  /* Chrome, Safari, Edge, Opera */
  .ability input::-webkit-outer-spin-button,
  .ability input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  .ability input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    font-size: 1.8em;
  }

  .ability .details {
    width: 80%;
    margin-bottom: -8px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    border: 1px solid #333;
    background: var(--tinkerBackground);
    border-radius: 3px;
    border-bottom-width: 2px;
    padding: 0.1em;
  }
  .ability .details span {
  }

  .title {
    font-variant: small-caps;
    white-space: nowrap;
    text-align: center;
    padding: 0 2px;
  }

  .attribute {
    grid-area: sub;
    max-height: 60px;
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 3px;
  }

  .attribute .value {
    text-align: center;
    font-size: 1.6em;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .attribute.hp input {
    width: 40%;
    border: none;
    background: none;
  }

  .attribute.hp .value {
    display: flex;
  }

  .attribute.hp input.hp-value {
    text-align: right;
  }
  .attribute.hp input.hp-max {
    text-align: left;
  }

  .attribute.hp {
    grid-column: 3;
  }

  .attribute.hd {
    grid-column: 4;
  }
  .attribute.ac {
    grid-column: 5;
  }
  .attribute.movement {
    grid-column: 6;
  }
  .attribute.init {
    grid-column: 7;
  }

  .skills {
    display: flex;
    flex-direction: column;
    grid-area: ski;
    border: 2px solid #333;
    border-radius: 3px;
    overflow-y: auto;
  }

  .skill {
    display: flex;
    flex-grow: 1;
  }
  .skill:not(:last-child) {
    border-bottom: 1px solid #333;
  }

  .skill:nth-child(2n) {
    /* background: #0002; */
  }

  .skill > span {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 0.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .skill .proficiency-toggle {
    font-size: 90%;
    margin-right: 2px;
    vertical-align: middle;
  }

  .skill .skill-ability {
    opacity: 0.8;
    flex-grow: 0;
    flex-basis: 2em;
    font-variant: small-caps;
    font-size: 90%;
    margin: 2px 0;
    padding: 0;
  }

  .skill .total {
    flex-grow: 0;
    flex-basis: 2em;
    justify-content: center;
  }

  .resource {
    display: flex;
    flex-direction: column;
    border: 2px solid #333;
    border-radius: 3px;
  }

  .traits {
    padding: 0.2em;
    grid-area: tra;
    border: 2px solid #333;
    border-radius: 3px;
    overflow-y: auto;
  }

  nav {
    grid-area: nav;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: stretch;
    align-items: stretch;
  }

  nav ul li {
    flex-grow: 1;
    padding: 2px;
    border: 2px solid #333;
    background-color: #333;
    color: var(--tinkerBackground);
    border-radius: 3px;
    margin-right: 5px;
    text-align: center;
    line-height: 1.5em;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li.active {
    background-color: #222;
  }

  .inventory {
    grid-column: span 7;
    grid-row: 3 / span 6;
    border: 2px solid #333;
    border-radius: 3px;
  }
</style>

<div class="sheet" bind:clientWidth={width} bind:clientHeight={height}>
  <img src={actor.img} class="profile-image" alt="" />
  <header>
    <input
      on:change={inputChange}
      class="name"
      type="text"
      name="name"
      value={actor.name} />
    <span class="class-level">ClassName 1</span>
    <span class="race" />
  </header>
  <div class="attribute hp">
    <span class="title">Hit Points</span>
    <span class="value">
      <input
        on:change={inputChange}
        class="hp-value"
        type="text"
        name="data.attributes.hp.value"
        value={actor.data.attributes.hp.value} />
      /
      <input
        on:change={inputChange}
        class="hp-max"
        type="text"
        name="data.attributes.hp.max"
        value={actor.data.attributes.hp.max} />
    </span>
  </div>
  <div class="attribute hd">
    <span class="title">Hit Dice</span>
    <span class="value">{actor.data.attributes.hd}</span>
  </div>
  <div class="attribute ac">
    <span class="title">Armor Class</span>
    <span class="value">{actor.data.attributes.ac.value}</span>
  </div>
  <div class="attribute movement">
    <span class="title">Movement</span>
    <span class="value">{actor.data.attributes.movement.walk}</span>
  </div>
  <div class="attribute init">
    <span class="title">Initiative</span>
    <span class="value"> {actor.data.attributes.init.value} </span>
  </div>

  {#if view == View.Attributes}
    <div class="abilities">
      {#each Object.entries(actor.data.abilities) as [id, ability]}
        <div class="ability {id}">
          <span class="label">{ability.label}</span>
          <input
            on:change={inputChange}
            class="value"
            type="number"
            min="1"
            name="data.abilities.{id}.value"
            value={ability.value} />
          <span class="details">
            <span class="mod">{modif(ability.mod)}</span>
            <span class="save">{modif(ability.save)}</span>
          </span>
        </div>
      {/each}
    </div>

    <div class="skills">
      {#each Object.values(actor.data.skills) as skill}
        <div class="skill">
          <span class="label">
            <a class="proficiency-toggle" title={skill.hover}>
              {@html skill.icon}
            </a>
            {skill.label}
          </span>
          <span class="skill-ability">{skill.ability}</span>
          <span class="total">{modif(skill.total)}</span>
        </div>
      {/each}
    </div>

    <div class="resource first">
      <span class="title">Resource 1</span>
      <span class="value">0/0</span>
    </div>
    <div class="resource second">
      <span class="title">Resource 2</span>
      <span class="value">0/0</span>
    </div>
    <div class="resource third">
      <span class="title">Resource 3</span>
      <span class="value">0/0</span>
    </div>

    <div class="traits">
      <Traits data={actor.data} {senses} />
    </div>
  {/if}

  {#if view == View.Inventory}
    <Inventory />
  {/if}

  <nav>
    <ul>
      <li
        class:active={view == View.Attributes}
        on:click={() => (view = View.Attributes)}>
        Attributes
      </li>
      <li
        class:active={view == View.Inventory}
        on:click={() => (view = View.Inventory)}>
        Inventory
      </li>
      <li
        class:active={view == View.Features}
        on:click={() => (view = View.Features)}>
        Features
      </li>
      <li
        class:active={view == View.Spellbook}
        on:click={() => (view = View.Spellbook)}>
        Spellbook
      </li>
      <li
        class:active={view == View.Effects}
        on:click={() => (view = View.Effects)}>
        Effects
      </li>
      <li
        class:active={view == View.Biography}
        on:click={() => (view = View.Biography)}>
        Biography
      </li>
      <li
        class:active={view == View.Journal}
        on:click={() => (view = View.Journal)}>
        Journal
      </li>
    </ul>
  </nav>
</div>
