<script lang="ts">
  export let data: any;
  export let senses: any;
  const isCharacter = true;
  const isVehicle = false;
  const localize = (input) => game.i18n.localize(input);
</script>

<style>
  .traits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 20px;
  }
  .traits-list li {
    display: inline-block;
    border: 2px solid #333;
    border-radius: 3px;
    padding: 0 4px;
    margin-right: 2px;
    line-height: 14px;
  }
</style>

<div class="traits">
  <!-- <div class="form-group">
    <label>{localize('DND5E.Size')}</label>
    <select class="actor-size" name="data.traits.size"> -->
  <!-- {{#select data.traits.size}}
            {{#each config.actorSizes as |label size|}}
                <option value="{{size}}">{{label}}</option>
            {{/each}}
            {{/select}} -->
  <!-- </select>
  </div> -->

  {#if !isVehicle}
    <div class="form-group">
      <label>{localize('DND5E.Senses')}</label>
      <a
        class="config-button"
        data-action="senses"
        title={localize('DND5E.SensesConfig')}><i class="fas fa-cog" /></a>
      <ul class="traits-list">
        {#each Object.entries(senses) as [id, sense] (id)}
          <li class="tag {id}">{sense}</li>
        {/each}
      </ul>
    </div>

    <div class="form-group {data.traits.languages.cssClass}">
      <label>{localize('DND5E.Languages')}</label>
      <a
        class="trait-selector"
        data-options="languages"
        data-target="data.traits.languages">
        <i class="fas fa-edit" />
      </a>
      <ul class="traits-list">
        {#each Object.entries(data.traits.languages.selected) as [id, lang] (id)}
          <li class="tag {id}">{lang}</li>
        {/each}
      </ul>
    </div>
  {/if}

  <div class="form-group {data.traits.di.cssClass}">
    <label>{localize('DND5E.DamImm')}</label>
    <a
      class="trait-selector"
      data-options="damageResistanceTypes"
      data-target="data.traits.di">
      <i class="fas fa-edit" />
    </a>
    <ul class="traits-list">
      {#each Object.entries(data.traits.di.selected) as [k, v] (k)}
        <li class="tag {k}">{v}</li>
      {/each}
    </ul>
  </div>

  <div class="form-group {data.traits.dr.cssClass}">
    <label>{localize('DND5E.DamRes')}</label>
    <a
      class="trait-selector"
      data-options="damageResistanceTypes"
      data-target="data.traits.dr">
      <i class="fas fa-edit" />
    </a>
    <ul class="traits-list">
      {#each Object.entries(data.traits.dr.selected) as [k, v] (k)}
        <li class="tag {k}">{v}</li>
      {/each}
    </ul>
  </div>

  <div class="form-group {data.traits.dv.cssClass}">
    <label>{localize('DND5E.DamVuln')}</label>
    <a
      class="trait-selector"
      data-options="damageResistanceTypes"
      data-target="data.traits.dv">
      <i class="fas fa-edit" />
    </a>
    <ul class="traits-list">
      {#each Object.entries(data.traits.dv.selected) as [k, v]}
        <li class="tag {k}">{v}</li>
      {/each}
    </ul>
  </div>

  <div class="form-group {data.traits.ci.cssClass}">
    <label>{localize('DND5E.ConImm')}</label>
    <a
      class="trait-selector"
      data-options="conditionTypes"
      data-target="data.traits.ci">
      <i class="fas fa-edit" />
    </a>
    <ul class="traits-list">
      {#each Object.entries(data.traits.ci.selected) as [k, v] (k)}
        <li class="tag {k}">{v}</li>
      {/each}
    </ul>
  </div>

  {#if isCharacter}
    <div class="form-group {data.traits.weaponProf.cssClass}">
      <label>{localize('DND5E.TraitWeaponProf')}</label>
      <a
        class="trait-selector"
        data-options="weaponProficiencies"
        data-target="data.traits.weaponProf">
        <i class="fas fa-edit" />
      </a>
      <ul class="traits-list">
        {#each Object.entries(data.traits.weaponProf.selected) as [k, v] (k)}
          <li class="tag {k}">{v}</li>
        {/each}
      </ul>
    </div>

    <div class="form-group {data.traits.armorProf.cssClass}">
      <label>{localize('DND5E.TraitArmorProf')}</label>
      <a
        class="trait-selector"
        data-options="armorProficiencies"
        data-target="data.traits.armorProf">
        <i class="fas fa-edit" />
      </a>
      <ul class="traits-list">
        {#each Object.entries(data.traits.armorProf.selected) as [k, v] (k)}
          <li class="tag {k}">{v}</li>
        {/each}
      </ul>
    </div>

    <div class="form-group {data.traits.toolProf.cssClass}">
      <label>{localize('DND5E.TraitToolProf')}</label>
      <a
        class="trait-selector"
        data-options="toolProficiencies"
        data-target="data.traits.toolProf">
        <i class="fas fa-edit" />
      </a>
      <ul class="traits-list">
        {#each Object.entries(data.traits.toolProf.selected) as [k, v] (k)}
          <li class="tag {k}">{v}</li>
        {/each}
      </ul>
    </div>
  {/if}

  <!-- {{#unless isVehicle}}
    <div class="form-group ">
        <label>{{localize "DND5E.SpecialTraits"}}</label>
        <a class="config-button" data-action="flags" title="{{localize 'DND5E.SpecialTraits'}}"><i class="fas fa-cog"></i></a>
    </div>
    {{/unless}} -->
</div>
